:root {
    --main-bg-color: #FFFFFF;
    --main-font-color: #73879C;
    --main-box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.1);
    --aux-bg-color: #EEEEEE;
    --aux-font-color: #888888;
    --pop-box-border: 1px solid rgba(90, 115, 142, 0.2);
    --pop-box-hover: rgba(90, 115, 142, 0.2);
    --table-bg-color: #F9F9FB;
    --title-font-size: 22px;
    --title-font-weight: 500;
    --title-letter-spacing: 1.2px;
    --subtitle-font-size: 14px;
    --subtitle-font-weight: 400;
    --subtitle-border: 1px solid #DDDDDD;
    --header-action-font-color: #5A738E;
    --header-action-font-size: 12px;
    --header-action-font-weight: 300;
    --kpi-big-font-size: 32px;
    --kpi-big-font-weight: 400;
    --kpi-big-letter-spacing: 0.8px;
    --kpi-small-font-size: 10px;
    --kpi-small-font-weight: 100;
    --kpi-small-letter-spacing: 0.1px;
}

.apcm-about-logo {
    width: 128px;
    float: right;
    margin: -20px 8px 8px 20px;
    transition: opacity 1.4s ease-in;
}

.markdown ul{
    list-style: disc;
    margin-left: 20px;
}

.markdown h3 {
    margin: 40px 0 0 0;
}

.markdown blockquote {
    border-left: 4px solid rgba(0,0,0,.07);
    padding-left: 10px;
    margin-left: 20px;
}

.markdown blockquote p,
.markdown blockquote code {
    font-size: smaller !important;
}

.markdown pre code {
    display: block;
    padding: 14px;
    border-radius: 4px;
    padding-left: 36px;
}

.markdown code.language-console {
    background-color: #23282d;
    color:#AAAAAA;
}

.markdown code.language-bash {
    background-color: #23282d;
    color:#AAAAAA;
    padding-left: 36px;
}

.apcm-row {
    margin-bottom: 10px;
    width: 100%;
}

.last-row {
    margin-top: -8px;
}

.apcm-box-full-line {
    display: inline-block;
    padding: 8px;
    background-color: var(--main-bg-color);
    border-radius: 2px;
    box-shadow: var(--main-box-shadow);
}

.apcm-box-60-40-line {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: stretch;
    padding: 8px;
    margin-bottom: -18px;
}

.apcm-60-module {
    flex-grow: 3;
    flex-shrink: 3;
    background-color: var(--main-bg-color);
    border-radius: 2px;
    box-shadow: var(--main-box-shadow);
    margin-right: 10px;
    margin-left: -8px;
    margin-top: -8px;
    margin-bottom: 10px;
    padding: 8px;
    width: 58%;
}

.apcm-40-module {
    flex-grow: 2;
    flex-shrink: 2;
    background-color: var(--main-bg-color);
    border-radius: 2px;
    box-shadow: var(--main-box-shadow);
    margin-top: -8px;
    margin-right: -8px;
    margin-bottom: 10px;
    padding: 8px;
    height:294px;
    width: 38%;
}

.apcm-box-33-33-33-line {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: stretch;
    padding: 8px;
}

.apcm-33-module {
    background-color: var(--main-bg-color);
    border-radius: 2px;
    box-shadow: var(--main-box-shadow);
    margin-top: -8px;
    padding: 8px;
}

.apcm-33-left-module {
    flex-grow: 1;
    margin-left: -8px;
    margin-right: 10px;
}

.apcm-33-center-module {
    flex-grow: 1;
    margin-left: 0px;
    margin-right: 0px;
}

.apcm-multichart-handler {
    display: block;
    height: 300px;
}

.apcm-multichart-item {
    position: absolute;
    height: 200px;
    visibility:hidden;
    opacity:0;
    width: 94%;
    left: 2.4%;
}

.apcm-multichart-item svg {
    overflow: visible;
}

.apcm-multichart-item.active {
    visibility:visible;
    opacity:1;
    transition:visibility 0.6s linear,opacity 0.6s linear;
}

.apcm-33-right-module {
    flex-grow: 1;
    margin-left: 10px;
    margin-right: -8px;
}

.apcm-module-title-bar {
    border-bottom: var(--subtitle-border);
    margin-left: 6px;
    margin-right: 6px;
    padding-bottom: 6px;
}

.apcm-module-title {
    margin-left: 2px;
    font-size: var(--subtitle-font-size);
    font-weight: var(--subtitle-font-weight);
    color: var(--main-font-color);
}

.apcm-module-more {
    margin-right: 2px;
    float: right;
}

.apcm-module-more a:focus{
    color: transparent;
    box-shadow: none;
    outline: none;
}

.apcm-chart-button {
    cursor: pointer;
}

.apcm-chart-button.not-ready {
    filter: opacity(30%);
    pointer-events: none;
}

.apcm-chart-button img {
    padding: 3px;
    background-color: transparent;
    top: -2px;
    border-radius: 2px;
}

.apcm-chart-button.active {
    cursor: default;

}

.apcm-chart-button.active img{
    background-color: #CCCCCC;
    filter: opacity(50%) grayscale(100%);
    transition: all 0.6s linear ;
}

.apcm-module-content {
    padding: 8px;
}

.apcm-kpi-bar {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: stretch;
}

.apcm-home {
    vertical-align: text-bottom;
}

.apcm-title {
    font-size: var(--title-font-size);
    font-weight: var(--title-font-weight);
    letter-spacing: var(--title-letter-spacing);
    color: var(--main-font-color);
    padding: 2px 8px;
    vertical-align: text-bottom;
}

.apcm-subtitle {
    font-size: var(--subtitle-font-size);
    font-weight: var(--subtitle-font-weight);
    color: var(--aux-font-color);
    vertical-align: middle;
}

.apcm-site {
    font-size: var(--subtitle-font-size);
    font-weight: var(--subtitle-font-weight);
    vertical-align: baseline;
}

.apcm-site-text {
    background-color: var(--main-font-color);
    color: var(--main-bg-color);
    border-radius: 2px;
    padding: 3px 14px;
}

.apcm-site-button {
    background-color: var(--main-font-color);
    color: var(--main-bg-color);
    border-radius: 2px;
    padding: 3px 4px 3px 14px;
}

.apcm-site-button img {
    display: inline-block;
    width: 12px;
    vertical-align: text-top;
    margin-left: 6px;
}

.apcm-datepicker {
    margin-right: 8px;
    float: right;
    cursor: pointer;
    vertical-align: text-bottom;
    color: var(--header-action-font-color);
    font-size: var(--header-action-font-size);
}

.apcm-datepicker-value {
    vertical-align: text-top;
}

.apcm-switch {
    margin-right: 16px;
    float: right;
    cursor: pointer;
    vertical-align: text-bottom;
    color: var(--header-action-font-color);
    font-size: var(--header-action-font-size);
}

.apcm-switch span {
    vertical-align: middle;
}

.apcm-text-inbound-switch,
.apcm-text-outbound-switch {
    cursor: default;
}

.apcm-kpi-bar {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: stretch;
}

.apcm-kpi-large {
    flex-grow: 1;
    position: relative;
    text-align: center;
}

.apcm-kpi-large:before {
    content: "";
    position: absolute;
    left: -1px;
    top: 15%;
    height: 70%;
    vertical-align: middle;
    border-left: 2px solid var(--main-font-color);
    box-sizing: border-box;
}

.apcm-kpi-large-top-text {
    font-size: 12px;
    vertical-align: bottom;
    color: var(--main-font-color);
}

.apcm-kpi-large-bottom-text {
    font-size: 10px;
    vertical-align: bottom;
    color: var(--main-font-color);
}

.apcm-kpi-large-top {
    padding: 4px;
}

.apcm-kpi-large-middle {
    display: inline-flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    padding: 4px;
    margin-top: 8px;
}

.apcm-kpi-large-bottom {
    padding: 4px;
}

.apcm-kpi-large-middle-left {
    color: var(--main-font-color);
    font-size: var(--kpi-big-font-size);
    font-weight: var(--kpi-big-font-weight);
    letter-spacing: var(--kpi-big-letter-spacing);
}

.apcm-kpi-large-middle-right {
    color: var(--main-font-color);
    font-size: var(--kpi-small-font-size);
    font-weight: var(--kpi-small-font-weight);
    letter-spacing: var(--kpi-small-letter-spacing);
    padding-left: 4px;
    top: -5px;
    position: relative;
}

.apcm-top-line {
    margin-bottom: -8px;
}

.apcm-top-line-title {
    color: var(--aux-font-color);
}

.apcm-top-line-content {
    margin-bottom: 16px;
    margin-top: -2px;
}

.apcm-top-line-title-text {
    vertical-align: baseline;
}

.apcm-top-line-title-text a {
    text-decoration: none;
    color: var(--aux-font-color);
}

.apcm-multichart-item,
.apcm-multichart-xlarge-item,
.apcm-multichart-large-item,
.apcm-multichart-medium-item,
.apcm-multichart-small-item,
.apcm-multichart-xsmall-item,
.apcm-multichart-xxsmall-item{
    position: absolute;
    height: 200px;
    visibility:hidden;
    opacity:0;
    width: 94%;
    left: 2.4%;
}

.apcm-multichart-item svg,
.apcm-multichart-xlarge-item svg,
.apcm-multichart-large-item svg,
.apcm-multichart-medium-item svg,
.apcm-multichart-small-item svg,
.apcm-multichart-xsmall-item svg,
.apcm-multichart-xxsmall-item svg{
    overflow: visible;
}

.apcm-multichart-item.active,
.apcm-multichart-xlarge-item.active,
.apcm-multichart-large-item.active,
.apcm-multichart-medium-item.active,
.apcm-multichart-small-item.active,
.apcm-multichart-xsmall-item.active,
.apcm-multichart-xxsmall-item.active{
    visibility:visible;
    opacity:1;
    transition:visibility 0.6s linear,opacity 0.6s linear;
}

.apcm-multichart-xlarge-item .ct-bar {stroke-width: 6% !important;stroke-opacity: 0.8 !important;}
.apcm-multichart-large-item .ct-bar {stroke-width: 3% !important;stroke-opacity: 0.8 !important;}
.apcm-multichart-medium-item .ct-bar {stroke-width: 1.5% !important;stroke-opacity: 0.8 !important;}
.apcm-multichart-small-item .ct-bar {stroke-width: 0.75% !important;stroke-opacity: 0.8 !important;}
.apcm-multichart-xsmall-item .ct-bar {stroke-width: 0.4% !important;stroke-opacity: 0.8 !important;}
.apcm-multichart-xxsmall-item .ct-bar {stroke-width: 0.2% !important;stroke-opacity: 0.8 !important;}

.apcm-bar-graph {
    display: inline-block;
    width: 87%;
    height: 6px;
    border-radius: 2px;
    background-color: var(--aux-bg-color);
}

.apcm-bar-graph-value {
    height: 6px;
    border-radius: 2px;
    background-color: var(--main-font-color);
}

.apcm-bar-detail {
    float: right;
    display: inline-block;
    color: var(--main-font-color);
    font-size: var(--subtitle-font-size);
    font-weight: var(--subtitle-font-weight);
    margin-top: -8px;
}

.ct-labels foreignObject:first-child {
    display: none;
}

.ct-labels .ct-horizontal {
    transform: translateX(-7px);
}

.ct-labels .ct-vertical {
    transform: translateX(-6px) translateY(6px);
}

.apcm-minor-data {
    opacity: 0.4;
}

.apcm-table {
    width:100%;
    border-spacing: 0px;
}

.apcm-table th {
    display: none;
    font-size: var(--header-action-font-size);
    color: var(--aux-font-color);
    font-weight: var(--header-action-font-weight);
    text-align: left;
}
.apcm-table td {
    color: var(--main-font-color);
}

.apcm-table tr:nth-child(even) {
    background: var(--table-bg-color);
}

.apcm-table-text a {
    text-decoration: none;
    color: var(--aux-font-color);
}

.apcm-table small {
    font-size: xx-small;
}

.apcm-pie-box {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 36px;
    margin-bottom: 60px;
}

.apcm-pie-graph {
    flex-grow: 1;
    margin-right: 10%;
}

.apcm-pie-legend {
    flex-grow: 1;
    float: left;
    margin-left: 10%;
}

.apcm-pie-graph-handler {
    width: 120px;
    height: 120px;
    float:right;
}

.apcm-pie-legend-item {
    display: flex;
    color: var(--aux-font-color);
}

.apcm-map-handler {
    vertical-align: middle;
    text-align: center;
    height: 244px;
    width: 100%;
    display: inline-block;
}

button.btn {
    color: var(--main-bg-color);
    background-color: var(--header-action-font-color);
    border: none;
    border-radius: 2px;
}

@media only screen and (max-width: 300px) {
    .apcm-bar-graph {
        width: 75%;
    }
}

@media only screen and (min-width: 501px) {
    .apcm-table th {
        display: table-cell;
        padding: .25em 1em;
    }

    .apcm-table td {
        display: table-cell;
        padding: .25em .5em;
    }
}

@media only screen and (max-width: 500px) {
    .apcm-table td {
        display: block;
        padding: .25em .5em;
    }
    .apcm-about-logo {
        width: 92px;
        margin: -16px 6px 6px 16px;
    }
    .apcm-title,
    .apcm-subtitle,
    .apcm-switch {
        float: unset;
        display: block;
        padding: 2px 8px;
    }
    .apcm-switch,
    .apcm-datepicker {
        padding: 2px 8px;
    }
    .apcm-site {
        float: right;
        margin-top: 3px;
    }
}

@media only screen and (min-width: 1101px) {
    .apcm-kpi-large {
        width: 16.666%;
    }
    .apcm-kpi-large:first-child:before {
        border: none;
    }
}

@media only screen and (min-width: 501px) and (max-width: 1100px) {
    .apcm-kpi-large {
        width: 33.333%;
        margin-bottom: 14px;
    }
    .apcm-kpi-large:nth-child(3n+1):before {
        border: none;
    }
}

@media only screen and (max-width: 500px) {
    .apcm-kpi-large {
        width: 50%;
        margin-bottom: 14px;
    }
    .apcm-kpi-large:nth-child(2n+1):before {
        border: none;
    }
    .apcm-bar-graph {
        width: 80%;
    }
}

@media only screen and (max-width: 300px) {
    .apcm-kpi-large {
        min-width: 100%;
        margin-bottom: 14px;
    }

    .apcm-kpi-large:before {
        border: none;
    }

    .apcm-kpi-large-middle {
        margin-top: 0px;
    }
    .apcm-bar-graph {
        width: 70%;
    }
}

@media only screen and (max-width: 1100px) {
    .apcm-60-module {
        margin-right: -8px;
        margin-bottom: 10px;
        width: 100%;
        height: auto;
    }
    .apcm-33-module {
        margin-right: -8px;
        margin-bottom: 18px;
        margin-top: -8px;
        width: 100%;
    }
    .apcm-33-center-module,
    .apcm-33-right-module {
        margin-left: -8px;
    }
    .apcm-40-module {
        margin-left: -8px;
        margin-top: 0px;
        width: 100%;
        height: auto;
    }
    .last-row {
        margin-top: -26px;
    }
    .apcm-pie-box {
        margin-top: 10px;
    }
}

@media only screen and (min-width: 1801px) {
    .apcm-box {
        width: 99.5%;
    }
}

@media only screen and (max-width: 1800px) {
    .apcm-box {
        width: 99%;
    }
}

@media only screen and (max-width: 1400px) {
    .apcm-box {
        width: 98.5%;
    }
}

@media only screen and (max-width: 1000px) {
    .apcm-box {
        width: 98%;
    }
}

@media only screen and (max-width: 600px) {
    .apcm-box {
        width: 97.5%;
    }
}

@media only screen and (max-width: 450px) {
    .apcm-box {
        width: 97%;
    }
}

@media only screen and (max-width: 375px) {
    .apcm-box {
        width: 96%;
    }
}

@media only screen and (max-width: 300px) {
    .apcm-box {
        width: 95.5%;
    }
}

.apcm-select-wrapper {
    position: relative;
    display: inline-block;
    user-select: none;
}
.apcm-select-wrapper select {
    display: none;
}
.apcm-select {
    position: relative;
    display: inline-block;
}
.apcm-select-trigger {
    position: relative;
    display: block;
    cursor: pointer;
}
.apcm-options {
    z-index: 3001;
    position: absolute;
    display: block;
    width: max-content;
    margin-top: 7px;
    border: var(--pop-box-border);
    border-radius: 4px;
    box-sizing: border-box;
    background: var(--main-bg-color);
    font-size: var(--header-action-font-size);
    font-weight: var(--subtitle-font-weight);
    letter-spacing: 0px;
    color: #5A738E;
    box-shadow: var(--main-box-shadow);

    opacity: 0;
    visibility: hidden;
    pointer-events: none;
}
.apcm-select.opened .apcm-options {
    opacity: 1;
    visibility: visible;
    pointer-events: all;
}
.apcm-options:before {
    position: absolute;
    display: block;
    content: '';
    bottom: 100%;
    left: 10px;
    width: 7px;
    height: 7px;
    margin-bottom: -3px;
    border-top: var(--pop-box-border);
    border-left: var(--pop-box-border);
    background: var(--main-bg-color);
    transform: rotate(45deg);
}
.option-hover:before {
    background: #f9f9f9;
}
.apcm-option {
    position: relative;
    display: block;
    padding: 8px 12px;
    cursor: pointer;
    margin: 8px 0px;
}

.apcm-option-subtext {
    color: var(--aux-font-color);
    margin-top: -2px;
}

.apcm-option:hover {
    background-color: var(--pop-box-hover);
}

.apcm-option.selection {
    background-color: var(--header-action-font-color);
    color: var(--main-bg-color);
}
